In [11]:
"""A simple Spark app in Python"""
import os
import sys

import pandas as pd

from pyspark import SparkContext
from pyspark import SparkConf
from pyspark.sql import SparkSession

# 在创建一个新的对象前，必须调用现有对象的 stop()函数
try:
    sc.stop()
except:
    pass

In [12]:
# SparkContext 是调用 Spark 功能的一个主要入口
# SparkContext 的初始化需要 SparkConf 对象的一个实例，后者包含了 Spark 集群配置的各种参数，比如主节点的 URL
conf = SparkConf().setAppName("Spark App For Loading Json").setMaster("local")
sc = SparkContext(conf=conf)
spark = SparkSession(sc)

In [13]:
df = spark.read.json("datasets/json_demo.json")
type(df)

pyspark.sql.dataframe.DataFrame

In [14]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [6]:
df.show()

+---+----+
|age|name|
+---+----+
| 12|jack|
| 22|lili|
| 11|  cc|
| 13|  vv|
| 14| lee|
+---+----+

In [7]:
df = pd.read_json("datasets/json_demo.json", lines=True)

In [8]:
df

   age  name
0   12  jack
1   22  lili
2   11    cc
3   13    vv
4   14   lee

In [9]:
spark_df = spark.createDataFrame(df)

In [10]:
spark_df.show()

+---+----+
|age|name|
+---+----+
| 12|jack|
| 22|lili|
| 11|  cc|
| 13|  vv|
| 14| lee|
+---+----+